<html>
    <head>
        <meta charset="UTF-8"/>
        <title>新增</title>
        <script type="text/javascript" src="http://localhost/msg/Controller/javascript/tool.js"></script>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <form action="msg_add.php" method="post" name="formAdd" >
            <div class="form-group">
                <label for="content">留言內容 : </label>
                <textarea class="form-control" rows="5" name="msg_content" id="msg_content" placeholder="中英數上限15字" oninput="checkMsgLength()"></textarea>
            </div>
                <input type="hidden" name="article_id" value="{{$article_id}}">
                <button class="btn btn-primary" id="addMsg">新增留言</button>
            </form>
        </div>
        <div>
            <input id="tips" type="hidden" value="{{$tips}}">
        </div>
    </body>
 </html>